.container {
    width: 335px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
    outline: red solid;
        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
                            width: 704px;
    padding-left: 12px;
    padding-right: 12px;
        }
    
        @media screen and (min-width: 1264px) {
                width: 1264px;
    padding-left: 12px;
    padding-right: 12px;
        }
}

        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {

        }
    
        @media screen and (min-width: 1264px) {

        }