.travellers__sectionHeadline {
    font-family: var(--font-family);
font-weight: 700;

font-size: 32px;
line-height: 110%;
letter-spacing: -0.01em;
text-align: center;
color: var(--color-scheme-1-text);

        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
font-size: 48px;
        }
    
        @media screen and (min-width: 1264px) {
font-size: 56px;
        }
}

.travellers__sectionList {
    display: flex;
    justify-content: center;
    gap: 4px;
}

/* traveller li */

/* .img {
border-radius: 100%;
}

.name {
font-family: var(--font-family);
font-weight: 600;
font-size: 26px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.articles {
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.view {
    border: 1px solid var(--color-scheme-2-border);
border-radius: 6px;
padding: 6px 12px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
} */

.travellers__loadMore {
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--color-white);
    border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 12px;
background: var(--color-mantis-dark);
display: block;
margin-top: 24px;
margin-right: auto;
margin-left: auto;

        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {

        }
    
        @media screen and (min-width: 1264px) {
font-size: 20px;
        }
}