/* HERO */

.hero {
    padding-top: 72px;
    padding-bottom: 144px;
}

.hero__flex {

            @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {

        }
    
        @media screen and (min-width: 1264px) {
    display: flex;
    flex-direction: row-reverse;
        }
}

.hero__headline {
font-family: var(--font-family);
font-weight: 700;
font-size: 32px;
line-height: 110%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);

        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
font-size: 48px;
        }
    
        @media screen and (min-width: 1264px) {
    font-family: var(--font-family);
font-weight: 700;
font-size: 56px;
line-height: 110%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);
        }

}

.hero__describtion {
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--color-scheme-2-text);
margin-top: 24px;
margin-bottom: 32px;

        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {

        }
    
        @media screen and (min-width: 1264px) {
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
        }
}

.hero__join {
    border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 64px;
background: var(--color-mantis-dark);
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #FFF;
display: block;
margin-left: auto;
margin-right: auto;
        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
            display: block;
margin-left: 0px;
margin-right: 0px;
            padding: 6px 12px;
font-size: 16px;
        }
    
        @media screen and (min-width: 1264px) {
font-size: 20px;
        }
}

.hero__img {
width: 335px;
height: 469px;
margin-bottom: 24px;
            @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
width: 704px;
        }
    
        @media screen and (min-width: 1264px) {
            margin-bottom: 0px;
    width: 644px;
    margin-left: 50px;
        }
}



/* POPULAR */

.popular {
    padding-bottom: 184px;
}

.popular__top {
    display: flex;
    align-items: center;
}

.popular__headline {
font-family: var(--font-family);
font-weight: 700;
font-size: 28px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-scheme-1-text);
margin-bottom: 40px;

        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
font-size: 44px;
        }
    
        @media screen and (min-width: 1264px) {
font-family: var(--font-family);
font-weight: 700;
font-size: 52px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-scheme-1-text);
margin-bottom: 0px;
        }
}

.popular__articles {
border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 12px;
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: #FFF;
background: var(--color-mantis-dark);
margin-left: auto;


        @media screen and (min-width: 335px) {
            display: none;
        }
    
    
        @media screen and (min-width: 704px) {
display: block;
        }
    
        @media screen and (min-width: 1264px) {
            
        }
}

.popular__articlesMobile {
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--color-white);
    border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 120px;
display: block;
margin-left: auto;
margin-right: auto;
background: var(--color-mantis-dark);

        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
display: none;
        }
    
        @media screen and (min-width: 1264px) {
            
        }
}

/* popular li */

/* .img {
    width: 421px;
height: 421px;
}

.sumtext {
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.headline {
font-family: var(--font-family);
font-weight: 700;
font-size: 26px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.btn {
    border: 1px solid var(--color-scheme-2-border);
border-radius: 6px;
padding: 6px 12px;
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.svgbtn {
    border: 1px solid var(--color-scheme-2-border);
border-radius: 6px;
padding: 6px;
} */

/* popular li end */

.popular__articlesList {
    display: flex;
}

.popular__arrows {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;

    
        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {

        }
    
        @media screen and (min-width: 1264px) {
    margin-top: 0px;
    margin-bottom: 0px;
        }
}

.popular__leftArrow {
    border: 1px solid var(--color-scheme-1-border);
border-radius: 8px;
padding: 12px;
background: var(--color-mantis-lighter);
}

.popular__rightArrow {
    border: 1px solid var(--color-scheme-1-border);
border-radius: 8px;
padding: 12px;
background: var(--color-mantis-lighter);
}

/* ECO */
.eco {
    padding-bottom: 183px;
}

.eco__flex {


    
        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {

        }
    
        @media screen and (min-width: 1264px) {
    display: flex;
        }
}

.eco__headline {
font-family: var(--font-family);
font-weight: 700;
font-size: 28px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);
margin-bottom: 24px;


        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
font-size: 44px;
        }
    
        @media screen and (min-width: 1264px) {
    font-family: var(--font-family);
font-weight: 700;
font-size: 52px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);
margin-bottom: 47px;
        }
}

.eco__info {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--color-scheme-2-text);



        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {

        }
    
        @media screen and (min-width: 1264px) {
    font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
        }

}

.eco__textBox {
    
    margin-top: 32px;
    
        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
    display: flex;
    gap: 24px;
        }
    
        @media screen and (min-width: 1264px) {
    display: flex;
    gap: 44px;
    margin-top: 61px;
        }
}



.eco__boxHeadline {
font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 140%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);
margin-bottom: 16px;


        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {

        }
    
        @media screen and (min-width: 1264px) {
    font-family: var(--font-family);
font-weight: 700;
font-size: 26px;
line-height: 140%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);
margin-bottom: 0px;
        }
}

.eco__boxText {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--color-scheme-2-text);
margin-bottom: 24px;


        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {

        }
    
        @media screen and (min-width: 1264px) {
                font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-2-text);
margin-bottom: 0px;
        }

}

.eco__img {
border-radius: 12px;
width: 335px;
height: 410px;

        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
width: 704px;
        }
    
        @media screen and (min-width: 1264px) {
    border-radius: 12px;
width: 644px;
margin-left: 39px;
        }
}

/* TRAVELLERS */

.travellers {
    padding-bottom: 120px;
}

.travellers__top {
    display: flex;
    align-items: center;
}

.travellers__headline {
font-family: var(--font-family);
font-weight: 700;
font-size: 28px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-scheme-1-text);
margin-bottom: 40px;

        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
font-size: 44px;
        }
    
        @media screen and (min-width: 1264px) {
font-family: var(--font-family);
font-weight: 700;
font-size: 52px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-scheme-1-text);
margin-bottom: 0px;
        }
}

.travellers__travs {
border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 12px;
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: #FFF;
background: var(--color-mantis-dark);
margin-left: auto;
display: none;

        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
display: block;
        }
    
        @media screen and (min-width: 1264px) {
            
        }
}

.travellers__articlesMobile {
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: var(--color-white);
    border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 120px;
display: block;
margin-left: auto;
margin-right: auto;
background: var(--color-mantis-dark);

        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
display: none;
        }
    
        @media screen and (min-width: 1264px) {
            
        }
}

/* traveller li */

/* .img {
border-radius: 100%;
}

.name {
font-family: var(--font-family);
font-weight: 600;
font-size: 26px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.articles {
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.view {
    border: 1px solid var(--color-scheme-2-border);
border-radius: 6px;
padding: 6px 12px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
} */

.travellers__articlesList {
    display: flex;
}

.travellers__arrows {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 40px;
    margin-bottom: 40px;

    
        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {

        }
    
        @media screen and (min-width: 1264px) {
    margin-top: 0px;
    margin-bottom: 0px;
        }
}

.travellers__leftArrow {
    border: 1px solid var(--color-scheme-1-border);
border-radius: 8px;
padding: 12px;
background: var(--color-mantis-lighter);
}

.travellers__rightArrow {
    border: 1px solid var(--color-scheme-1-border);
border-radius: 8px;
padding: 12px;
background: var(--color-mantis-lighter);
}

/* JOIN US */

.joinUs {
    padding-bottom: 32px;

    
        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {

        }
    
        @media screen and (min-width: 1264px) {
padding-bottom: 48px;
        }
}

.joinCont {
    background-image: url(./joinus.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    border-radius: 10px;

    
        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {

        }
    
        @media screen and (min-width: 1264px) {
    padding-top: 69px;
    padding-bottom: 61px;
    padding-left: 65px;
        }
}

.joinUs__headline {
font-family: var(--font-family);
font-weight: 700;
font-size: 26px;
line-height: 120%;
letter-spacing: -0.01em;
color: #FFF;
margin-bottom: 24px;
width: 100%;


        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
font-size: 32px;
width: 100%;
        }
    
        @media screen and (min-width: 1264px) {
font-size: 48px;
width: 100%;
margin-bottom: 33px;
        }
}

.joinUs__info {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
width: 100%;
line-height: 150%;
color: #FFF;
margin-bottom: 32px;



        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
width: 100%;
        }
    
        @media screen and (min-width: 1264px) {
font-size: 20px;
width: 100%;
margin-bottom: 35px;
        }
}

.joinUs__signup {
border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
display: block;
margin-left: auto;
margin-right: auto;
padding: 6px 80px;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
color: #FFF;
background: var(--color-mantis-dark);


        @media screen and (min-width: 335px) {
            
        }
    
    
        @media screen and (min-width: 704px) {
margin-left: 0px;
margin-right: 0px;
padding: 6px 12px;
        }
    
        @media screen and (min-width: 1264px) {
margin-left: 0px;
margin-right: 0px;
font-size: 20px;
padding: 6px 12px;
        }
}

