/* HERO */

.hero {
    display: flex;
}

.hero__headline {
    font-family: var(--font-family);
font-weight: 700;
font-size: 56px;
line-height: 110%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);
}

.hero__describtion {
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.hero__join {
    border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 12px;
background: var(--color-mantis-dark);
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-white);
}

.hero__img {
    width: 644px;
height: 580px;
}

/* POPULAR */

.popular__top-part {
    display: flex;
}

.popular__headline {
font-family: var(--font-family);
font-weight: 700;
font-size: 52px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-scheme-1-text);
}

.popular__articles {
border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 12px;
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-white);
}

/* popular li */

/* .img {
    width: 421px;
height: 421px;
}

.sumtext {
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.headline {
font-family: var(--font-family);
font-weight: 700;
font-size: 26px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.btn {
    border: 1px solid var(--color-scheme-2-border);
border-radius: 6px;
padding: 6px 12px;
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.svgbtn {
    border: 1px solid var(--color-scheme-2-border);
border-radius: 6px;
padding: 6px;
} */

/* popular li end */

.popular__articles {
    display: flex;
}

.popular__arrows {
    display: flex;
}

.popular__left-arrow {
    border: 1px solid var(--color-scheme-1-border);
border-radius: 8px;
padding: 12px;
}

.popular__right-arrow {
    border: 1px solid var(--color-scheme-1-border);
border-radius: 8px;
padding: 12px;
}

/* ECO */

.eco {
    display: flex;
}

.eco__headline {
    font-family: var(--font-family);
font-weight: 700;
font-size: 52px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);
}

.eco__info {
    font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.eco__text-box {
    display: flex;
}

.eco__left-headline {
    font-family: var(--font-family);
font-weight: 700;
font-size: 26px;
line-height: 140%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);
}

.eco__left-text {
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.eco__right-headline {
    font-family: var(--font-family);
font-weight: 700;
font-size: 26px;
line-height: 140%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);
}

.eco__right-text {
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.eco__img {
    border-radius: 12px;
width: 644px;
height: 686px;
}

/* TRAVELLERS */

.travellers__top-part {
    display: flex;
}

.travellers__headline {
    font-family: var(--font-family);
font-weight: 700;
font-size: 52px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-scheme-1-text);
}

.travellers__all-trav {
    border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 12px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-white);
}

/* traveller li */

/* .img {
border-radius: 100%;
}

.name {
font-family: var(--font-family);
font-weight: 600;
font-size: 26px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.articles {
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.view {
    border: 1px solid var(--color-scheme-2-border);
border-radius: 6px;
padding: 6px 12px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
} */

.travellers__arrows {
    display: flex;
}

.travellers__left-arrow {
    border: 1px solid var(--color-scheme-1-border);
border-radius: 8px;
padding: 12px;
}

.travellers__right-arrow {
    border: 1px solid var(--color-scheme-1-border);
border-radius: 8px;
padding: 12px;
}

/* JOIN US */

.join__us {
    background-image: url(./joinus.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.join__us__headline {
font-family: var(--font-family);
font-weight: 700;
font-size: 48px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-white);
}

.join__us__info {
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: var(--color-white);
}

.join__us__signup {
border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 12px;
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-white);
}