/* HERO */

.hero {
    padding-top: 72px;
    padding-bottom: 144px;
}

.hero__flex {
    display: flex;
}

.hero__headline {
    font-family: var(--font-family);
font-weight: 700;
font-size: 56px;
line-height: 110%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);
}

.hero__describtion {
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.hero__join {
    border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 12px;
background: var(--color-mantis-dark);
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-white);
}

.hero__img {
    width: 644px;
    margin-left: 50px;
}

/* POPULAR */

.popular {
    padding-bottom: 184px;
}

.popular__top {
    display: flex;
    align-items: center;
}

.popular__headline {
font-family: var(--font-family);
font-weight: 700;
font-size: 52px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-scheme-1-text);
}

.popular__articles {
border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 12px;
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-white);
margin-left: auto
}

/* popular li */

/* .img {
    width: 421px;
height: 421px;
}

.sumtext {
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.headline {
font-family: var(--font-family);
font-weight: 700;
font-size: 26px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.btn {
    border: 1px solid var(--color-scheme-2-border);
border-radius: 6px;
padding: 6px 12px;
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.svgbtn {
    border: 1px solid var(--color-scheme-2-border);
border-radius: 6px;
padding: 6px;
} */

/* popular li end */

.popular__articles {
    display: flex;
}

.popular__arrows {
    display: flex;
    justify-content: flex-end;
}

.popular__leftArrow {
    border: 1px solid var(--color-scheme-1-border);
border-radius: 8px;
padding: 12px;
}

.popular__rightArrow {
    border: 1px solid var(--color-scheme-1-border);
border-radius: 8px;
padding: 12px;
}

/* ECO */
.eco {
    padding-bottom: 183px;
}

.eco__flex {
    display: flex;
}

.eco__headline {
    font-family: var(--font-family);
font-weight: 700;
font-size: 52px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);
margin-bottom: 47px;
}

.eco__info {
    font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);

}

.eco__textBox {
    display: flex;
    gap: 44px;
    margin-top: 61px;
}

.eco__boxHeadline {
    font-family: var(--font-family);
font-weight: 700;
font-size: 26px;
line-height: 140%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);
}

.eco__boxText {
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-2-text);

}

.eco__img {
    border-radius: 12px;
width: 644px;
margin-left: 39px;
}

/* TRAVELLERS */

.travellers {
    padding-bottom: 120px;
}

.travellers__top {
    display: flex;
    align-items: center;
}

.travellers__headline {
    font-family: var(--font-family);
font-weight: 700;
font-size: 52px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-scheme-1-text);
}

.travellers__travs {
    border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 12px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-white);
margin-left: auto;
}

/* traveller li */

/* .img {
border-radius: 100%;
}

.name {
font-family: var(--font-family);
font-weight: 600;
font-size: 26px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.articles {
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.view {
    border: 1px solid var(--color-scheme-2-border);
border-radius: 6px;
padding: 6px 12px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
} */

.travellers__arrows {
    display: flex;
    justify-content: flex-end;
}

.travellers__leftArrow {
    border: 1px solid var(--color-scheme-1-border);
border-radius: 8px;
padding: 12px;
}

.travellers__rightArrow {
    border: 1px solid var(--color-scheme-1-border);
border-radius: 8px;
padding: 12px;
}

/* JOIN US */

.joinUs {
    padding-bottom: 48px;
}

.joinCont {
    background-image: url(./joinus.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 69px;
    padding-bottom: 61px;
    padding-left: 65px;
    border: none;
    border-radius: 10px;
}

.joinUs__headline {
font-family: var(--font-family);
font-weight: 700;
font-size: 48px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-white);
margin-bottom: 33px;
width: 767px;
}

.joinUs__info {
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: var(--color-white);
margin-bottom: 35px;
width: 767px;
}

.joinUs__signup {
border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 12px;
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-white);
}