.signIn__header {
    display: flex;
}

.signIn__logo {
    display: flex;
    align-items: center;
}

.signIn__logoText {
   font-family: var(--font-family);
font-weight: 500;
font-size: 17px;
line-height: 100%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text); 
}

.signIn__sectionBtns {
    display: flex;
    justify-content: center;
}

.signIn__btn {
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-1-text);
    padding: 12px 24px;
    background-color: transparent;
}

.signIn__btn:hover {
    border: 1px solid var(--color-scheme-1-border);
}

.signIn__boxLog {
font-family: var(--font-family);
font-weight: 700;
font-size: 52px;
line-height: 120%;
letter-spacing: -0.01em;
text-align: center;
color: var(--color-scheme-1-text);
}

.signIn__boxText {
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 150%;
text-align: center;
color: var(--color-scheme-1-text);
}

.signIn__formText {
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-1-text);
}

.signIn__formInp {
    border: 1px solid var(--opacity-neutral-darkest-15);
border-radius: 6px;
padding: 8px;
width: 644px;
background-color: transparent;
}

.signIn__formInp::placeholder {
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--opacity-neutral-darkest-60);
}

.signIn__formSubmit {
    border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 12px;
background: var(--color-mantis-dark);
font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-white);
}

.signIn__copyright {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
color: var(--color-scheme-1-text);
}