.footer {
     background-color: #DEF2DE;
     padding-top: 84px;
     padding-bottom: 84px;
}

.footer__topSide {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo-svg {

}

.footer__logo-text {

}

.footer__links {
    display: flex;
    gap: 2px;
}

.footer__link {

}

.facebook {

}

.instagram {

}

.twitter {

}

.youtube {

}

.line {
    border: 1px solid gray;
width: 100%;
height: 1px;
margin-top: 44px;
margin-bottom: 44px;
}

.footer__sectionsList {
    display: flex;
    gap: 5px;
}

.footer__section {

}

.footer__sectionLink {
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.footer__copyright {
    font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--color-scheme-2-text);
text-align: center;
}