/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

ul, ol {
  list-style: none;
}


/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/

html {
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji'; /* 1 */
	line-height: 1.15; /* 2 */
	-webkit-text-size-adjust: 100%; /* 3 */
	tab-size: 4; /* 4 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

:root {
	--color-scheme-1-background: var(--color-white);
	--color-neutral-darkest: #000;
	--color-scheme-1-border: var(--opacity-neutral-darkest-15);
	--color-scheme-1-text: var(--color-neutral-darkest);
	--color-neutral-lighter: #d8d8d8;
	--color-white: #fff;
	--color-neutral-lightest: #f2f2f2;
	--color-neutral-light: #b2b2b2;
	--color-neutral: #7f7f7f;
	--color-neutral-dark: #4c4c4c;
	--color-neutral-darker: #191919;
	--opacity-transparent: rgba(255, 255, 255, 0);
	--color-scheme-1-foreground: var(--color-neutral-lightest);
	--color-scheme-1-accent: var(--color-mantis);
	--opacity-white-5: rgba(255, 255, 255, 0.05);
	--opacity-white-10: rgba(255, 255, 255, 0.1);
	--opacity-white-15: rgba(255, 255, 255, 0.15);
	--opacity-white-20: rgba(255, 255, 255, 0.2);
	--opacity-white-30: rgba(255, 255, 255, 0.3);
	--opacity-white-40: rgba(255, 255, 255, 0.4);
	--opacity-white-50: rgba(255, 255, 255, 0.5);
	--opacity-white-60: rgba(255, 255, 255, 0.6);
	--opacity-neutral-darkest-5: rgba(0, 0, 0, 0.05);
	--opacity-neutral-darkest-10: rgba(0, 0, 0, 0.1);
	--opacity-neutral-darkest-15: rgba(0, 0, 0, 0.15);
	--opacity-neutral-darkest-20: rgba(0, 0, 0, 0.2);
	--opacity-neutral-darkest-30: rgba(0, 0, 0, 0.3);
	--opacity-neutral-darkest-40: rgba(0, 0, 0, 0.4);
	--opacity-neutral-darkest-50: rgba(0, 0, 0, 0.5);
	--opacity-neutral-darkest-60: rgba(0, 0, 0, 0.6);
	--color-mantis-lightest: #eef8ee;
	--color-mantis-lighter: #def2de;
	--color-mantis-light: #8dd18c;
	--color-mantis: #5dbe5c;
	--color-mantis-dark: #4a9849;
	--color-mantis-darker: #254c24;
	--color-mantis-darkest: #1b391b;
	--color-scheme-2-text: var(--color-mantis-darkest);
	--color-scheme-2-background: var(--color-mantis-lightest);
	--color-scheme-2-border: var(--opacity-neutral-darkest-15);
	--color-scheme-2-accent: var(--color-mantis);
	--color-scheme-2-foreground: var(--color-mantis-lighter);
	--color-red: #b00101;
}

button {
	cursor: pointer;
}

