.story__article-section-article {
    display: flex;
    justify-content: center;
}

.story__return {
    display: flex;
    align-items: center;
}

.story__return-text {
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-neutral-darkest);
}

.story__info-headline {
    font-family: var(--font-family);
font-weight: 700;
font-size: 56px;
line-height: 110%;
letter-spacing: -0.01em;
color: var(--color-scheme-2-text);
}

.story__author-name {
font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.name {
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.story__author-date {
font-family: var(--font-family);
font-weight: 700;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.date {
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.story__author-location {
    font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 150%;
color: var(--color-neutral-darkest);
border: 1px solid var(--opacity-transparent);
border-radius: 6px;
padding: 4px 10px;
background: var(--opacity-neutral-darkest-5);
}

.story__article-img {
    width: 755px;
border-radius: 24px;
}

.story__article-section-describtion {
    font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-2-text);
    width: 865px;
}

.story__article-section-save {
border: 0px solid var(--color-scheme-1-border);
border-radius: 24px;
padding: 32px;
background: var(--color-scheme-2-foreground);
}

.story__save-text {
font-family: var(--font-family);
font-weight: 700;
font-size: 26px;
line-height: 140%;
letter-spacing: -0.01em;
color: var(--color-scheme-1-text);
}

.story__save-text-info {
font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: var(--color-scheme-1-text);
}

.story__save-btn {
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-white);
border: 1px solid var(--color-mantis-dark);
border-radius: 6px;
padding: 6px 12px;
background: var(--color-mantis-dark);
}

.story__recommended {
    font-family: var(--font-family);
font-weight: 700;
font-size: 52px;
line-height: 120%;
letter-spacing: -0.01em;
color: var(--color-scheme-1-text);
}

/* traveller li */

/* .img {
border-radius: 100%;
}

.name {
font-family: var(--font-family);
font-weight: 600;
font-size: 26px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.articles {
font-family: var(--font-family);
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
}

.view {
    border: 1px solid var(--color-scheme-2-border);
border-radius: 6px;
padding: 6px 12px;
    font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 150%;
color: var(--color-scheme-2-text);
} */